<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 mt-24 mb-24">
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <app-table>
      <app-table-header [titles]="titles"></app-table-header>
      <app-table-body>
        <tr class="hover:bg-gray-50 cursor-pointer" *ngFor="let item of posts">
          <td class="px-6 py-4 whitespace-nowrap">
            <div>
              <div class="text-sm text-gray-500">{{ item.streetAddress }}</div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{ item.streetName }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500" appTest="{{ item.country}}">
              {{ item.country }}
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{ item.state }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button
              (click)="deletePost(item)"
              class="text-gray-500 hover:text-indigo-400"
            >
              Delete
            </button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button
              (click)="edit(item)"
              class="text-gray-500 hover:text-indigo-400"
            >
              Edit
            </button>
          </td>
        </tr>
      </app-table-body>
    </app-table>
  </div>
  <div class="text-center text-gray-500 mt-2">
    <button
      (click)="changeVisibility = !changeVisibility"
      class="px-6 py-4 text-gray-500 hover:text-indigo-400"
    >
      {{ addBtnTitle }}
    </button>

    <form
      *ngIf="changeVisibility"
      class="form"
      [formGroup]="form"
      (ngSubmit)="createNewPost()"
    >
      <div class="form-container">
        <div class="form-container__box">
          <label>Street Address</label>
          <input
            formControlName="streetAddress"
            class="form-container__box-input"
            type="text"
          />
          <small
            *ngIf="
              form.controls['streetAddress']?.touched &&
              form.controls['streetAddress']?.invalid
            "
            class="error"
          >
            Type your street address
          </small>
        </div>
      </div>

      <div class="form-container">
        <div class="form-container__box">
          <label>Street name</label>
          <input
            formControlName="streetName"
            class="form-container__box-input"
            type="text"
          />
          <small
            *ngIf="
              form.controls['streetName']?.touched &&
              form.controls['streetName']?.invalid
            "
            class="error"
          >
            Type your street name
          </small>
        </div>
      </div>

      <div class="form-container">
        <div class="form-container__box">
          <label>Country</label>
          <input
            formControlName="country"
            class="form-container__box-input"
            type="text"
          />
          <small
            *ngIf="
              form.controls['country']?.touched &&
              form.controls['country']?.invalid
            "
            class="error"
          >
            Type your country
          </small>
        </div>
      </div>

      <div class="form-container">
        <div class="form-container__box">
          <label>State</label>
          <input
            formControlName="state"
            class="form-container__box-input"
            type="text"
          />
          <small
            *ngIf="
              form.controls['state']?.touched && form.controls['state']?.invalid
            "
            class="error"
          >
            Type your state
          </small>
        </div>
      </div>

      <div class="form-container">
        <div class="form-container__box">
          <label>Id</label>
          <input
            formControlName="id"
            class="form-container__box-input"
            type="text"
          />
          <small
            *ngIf="form.controls['id']?.touched && form.controls['id']?.invalid"
            class="error"
          >
            Type your state
          </small>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid" class="form-submit">
        {{ saveBtn }}
      </button>
    </form>
  </div>
</div>
